.Tilt {
    background: linear-gradient(45deg, #BE93C5, #7BC6CC);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 5rem;
}

@media screen and (max-width: 600px) {
    .Tilt {
        display: none;
    }
}