.App {
  text-align: center;
  padding: 15px;
}

.center {
  display: flex;
  justify-content: center;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

@media screen and (max-width: 600px){
  article {
    width: 80vw !important;
    padding: 1rem;
  }
}